<ion-view view-title="{{ 'MENU_FORGOT_PASSWORD' | translate }}">
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">{{ 'INPUT_TEXT_EMAIL' | translate }}</span>
                    <input type="text" ng-model="loginData.email" placeholder="{{ 'INPUT_TEXT_EMAIL' | translate }}" />
                </label>
                <label class="item">
                    <button class="button button-assertive">
                        {{ 'BUTTON_RESET' | translate }}
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
