<ion-modal-view>
    <ion-header-bar class="bar-assertive" align-title="center">
        <h1 class="title">{{ "LABEL_MANUAL_INSTALLATION" | translate }}</h1>
        <button class="button button-clear button-primary" ng-click="closeManualInstallationXLSModal()">Close</button>
    </ion-header-bar>
    <ion-content>
        <iframe src="https://docs.google.com/spreadsheets/d/1kXmuMxCuQFmNzv5v-zHxbBP5MXv6f5qfvozxfOik7Ig/edit?usp=sharing" align="middle" style="width:100%; height:100%;" frameborder="0"></iframe>
    </ion-content>
</ion-modal-view>
