<ion-modal-view>
    <ion-header-bar class="bar-assertive" align-title="center">
        <h1 class="title">{{ "LABEL_TECHNICAL_SPECIFICATIONS" | translate }}</h1>
        <button class="button button-clear button-primary" ng-click="closeTechnicalSpecificationModal()">Close</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            We will have technical specifications of the above Category here...
        </div>
    </ion-content>
</ion-modal-view>
